/* line 1, main.scss */
.main__article-box1 {
  position: relative;
  top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(2, 265px);
  grid-template-areas: "item1 item2 item3" "item1 item4 item5";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px; }
  /* line 13, main.scss */
  .main__article-box1 section {
    position: relative; }
  /* line 17, main.scss */
  .main__article-box1 .linear-gradient::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 7.5e-05)), color-stop(82.82%, rgba(0, 0, 0, 0.75)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
    content: ''; }
  /* line 29, main.scss */
  .main__article-box1 .main__section-item1 {
    grid-area: item1; }
    /* line 33, main.scss */
    .main__article-box1 .main__section-item1 .test {
      position: absolute;
      display: none;
      width: 370px;
      height: 560px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.6); }
    /* line 42, main.scss */
    .main__article-box1 .main__section-item1:active h2 {
      text-decoration: underline; }
    /* line 46, main.scss */
    .main__article-box1 .main__section-item1:active .test {
      display: block;
      text-decoration: underline; }
    /* line 52, main.scss */
    .main__article-box1 .main__section-item1:hover .test {
      display: block;
      text-decoration: underline; }
    /* line 58, main.scss */
    .main__article-box1 .main__section-item1:hover h2 {
      text-decoration: underline; }
  /* line 63, main.scss */
  .main__article-box1 .main__section-item2 {
    grid-area: item2; }
    /* line 66, main.scss */
    .main__article-box1 .main__section-item2:active h3 {
      text-decoration: underline; }
    /* line 70, main.scss */
    .main__article-box1 .main__section-item2:active .test2 {
      display: block;
      text-decoration: underline; }
    /* line 76, main.scss */
    .main__article-box1 .main__section-item2:hover h3 {
      text-decoration: underline; }
    /* line 80, main.scss */
    .main__article-box1 .main__section-item2:hover .test2 {
      display: block;
      text-decoration: underline; }
  /* line 87, main.scss */
  .main__article-box1 .main__section-item3 {
    grid-area: item3; }
    /* line 90, main.scss */
    .main__article-box1 .main__section-item3:active h3 {
      text-decoration: underline; }
    /* line 94, main.scss */
    .main__article-box1 .main__section-item3:active .test2 {
      display: block;
      text-decoration: underline; }
    /* line 100, main.scss */
    .main__article-box1 .main__section-item3:hover h3 {
      text-decoration: underline; }
    /* line 104, main.scss */
    .main__article-box1 .main__section-item3:hover .test2 {
      display: block;
      text-decoration: underline; }
  /* line 111, main.scss */
  .main__article-box1 .main__section-item4 {
    grid-area: item4; }
    /* line 114, main.scss */
    .main__article-box1 .main__section-item4:active h3 {
      text-decoration: underline; }
    /* line 118, main.scss */
    .main__article-box1 .main__section-item4:active .test2 {
      display: block;
      text-decoration: underline; }
    /* line 124, main.scss */
    .main__article-box1 .main__section-item4:hover h3 {
      text-decoration: underline; }
    /* line 128, main.scss */
    .main__article-box1 .main__section-item4:hover .test2 {
      display: block;
      text-decoration: underline; }
  /* line 135, main.scss */
  .main__article-box1 .main__section-item5 {
    grid-area: item5; }
    /* line 138, main.scss */
    .main__article-box1 .main__section-item5:active h3 {
      text-decoration: underline; }
    /* line 142, main.scss */
    .main__article-box1 .main__section-item5:active .test2 {
      display: block;
      text-decoration: underline; }
    /* line 148, main.scss */
    .main__article-box1 .main__section-item5:hover h3 {
      text-decoration: underline; }
    /* line 152, main.scss */
    .main__article-box1 .main__section-item5:hover .test2 {
      display: block;
      text-decoration: underline; }
  /* line 159, main.scss */
  .main__article-box1 .main__section-logo-position1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; }
    /* line 165, main.scss */
    .main__article-box1 .main__section-logo-position1 .main__section-logo-style {
      padding: 4px 12px 3px 12px;
      font-size: 12px;
      border-radius: 3px;
      background-color: #4a90e2;
      color: #fff; }
  /* line 175, main.scss */
  .main__article-box1 .test2 {
    display: none;
    position: absolute;
    width: 370px;
    height: 265px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6); }
  /* line 184, main.scss */
  .main__article-box1 .main__section-block {
    position: relative;
    bottom: 120px;
    left: 20px;
    color: #fff;
    z-index: 1;
    line-height: 30px; }
    /* line 193, main.scss */
    .main__article-box1 .main__section-block p {
      padding-left: 10px;
      line-height: 18px;
      font-size: 14px; }
    /* line 199, main.scss */
    .main__article-box1 .main__section-block h3 {
      padding: 10px 10px;
      width: 265px;
      line-height: 26px;
      font-size: 20px; }
    /* line 206, main.scss */
    .main__article-box1 .main__section-block h2 {
      margin-top: -5px;
      padding: 10px 10px;
      line-height: 36px;
      font-size: 26px; }

/* line 216, main.scss */
.main-article-box2 {
  position: relative;
  top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(11, 240px);
  grid-template-areas: "item6 item6 main__article-aside " "item6 item6 main__article-aside " "item7 item7 main__article-aside " "item7 item7 main__article-aside " "item8 item8 main__article-aside " "item8 item8 main__article-aside " "item9 item9 main__article-aside " "item9 item9 main__article-aside " "item10 item10 main__article-aside " "item10 item10 main__article-aside " "item11 item11 .";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 75px;
  list-style-type: none; }
  /* line 239, main.scss */
  .main-article-box2 .main__section-logo-style {
    padding: 4px 12px 3px 12px;
    font-size: 12px;
    border-radius: 3px;
    background-color: #4a90e2;
    color: #fff; }
  /* line 247, main.scss */
  .main-article-box2 .main__section-item6 {
    grid-area: item6; }
    /* line 249, main.scss */
    .main-article-box2 .main__section-item6:active h3 {
      text-decoration: underline; }
    /* line 253, main.scss */
    .main-article-box2 .main__section-item6:hover h3 {
      text-decoration: underline; }
  /* line 259, main.scss */
  .main-article-box2 .main__section-item7 {
    grid-area: item7; }
    /* line 261, main.scss */
    .main-article-box2 .main__section-item7:active h3 {
      text-decoration: underline; }
    /* line 265, main.scss */
    .main-article-box2 .main__section-item7:hover h3 {
      text-decoration: underline; }
  /* line 271, main.scss */
  .main-article-box2 .main__section-item8 {
    grid-area: item8; }
    /* line 273, main.scss */
    .main-article-box2 .main__section-item8:active h3 {
      text-decoration: underline; }
    /* line 277, main.scss */
    .main-article-box2 .main__section-item8:hover h3 {
      text-decoration: underline; }
  /* line 282, main.scss */
  .main-article-box2 .main__section-item9 {
    grid-area: item9; }
    /* line 284, main.scss */
    .main-article-box2 .main__section-item9:active h3 {
      text-decoration: underline; }
    /* line 288, main.scss */
    .main-article-box2 .main__section-item9:hover h3 {
      text-decoration: underline; }
  /* line 293, main.scss */
  .main-article-box2 .main__section-item10 {
    grid-area: item10; }
    /* line 295, main.scss */
    .main-article-box2 .main__section-item10:active h3 {
      text-decoration: underline; }
    /* line 299, main.scss */
    .main-article-box2 .main__section-item10:hover h3 {
      text-decoration: underline; }
  /* line 304, main.scss */
  .main-article-box2 .main__article-aside {
    grid-area: main__article-aside; }
  /* line 308, main.scss */
  .main-article-box2 .main__div-item11 {
    grid-area: item11; }
  /* line 312, main.scss */
  .main-article-box2 .main__section-block2 {
    position: relative;
    bottom: 30%;
    width: 90%;
    height: 249px;
    margin: 5%;
    padding: 30px 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 5px 5px; }
    /* line 323, main.scss */
    .main-article-box2 .main__section-block2 .main__section-logo-position2 {
      position: relative;
      bottom: 10px; }
    /* line 328, main.scss */
    .main-article-box2 .main__section-block2 h3 {
      color: #000;
      font-size: 25px; }
    /* line 333, main.scss */
    .main-article-box2 .main__section-block2 p {
      margin-top: 10px;
      color: #666;
      line-height: 25px; }

/* line 341, main.scss */
.main__article-aside {
  margin-left: 100px;
  height: 2650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 352, main.scss */
  .main__article-aside .main__aside-item4:active h4,
  .main__article-aside .main__aside-item3:active h4,
  .main__article-aside .main__aside-item2:active h4,
  .main__article-aside .main__aside-item1:active h4 {
    text-decoration: underline; }
  /* line 357, main.scss */
  .main__article-aside .main__aside-item4:hover h4,
  .main__article-aside .main__aside-item3:hover h4,
  .main__article-aside .main__aside-item2:hover h4,
  .main__article-aside .main__aside-item1:hover h4 {
    text-decoration: underline; }
  /* line 363, main.scss */
  .main__article-aside .main__aside-text {
    font-size: 18px;
    font-weight: bold; }
  /* line 368, main.scss */
  .main__article-aside .main__aside-block {
    position: relative;
    margin-top: 23px; }
    /* line 373, main.scss */
    .main__article-aside .main__aside-block .main__aside-logo-position {
      position: relative;
      bottom: 180px;
      padding-left: 20px; }
    /* line 379, main.scss */
    .main__article-aside .main__aside-block .main__aside-h4 {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px; }
    /* line 385, main.scss */
    .main__article-aside .main__aside-block .main__aside-em {
      margin-top: 10px;
      color: #666;
      font-size: 14px; }
  /* line 393, main.scss */
  .main__article-aside .main__aside-item5,
  .main__article-aside .main__aside-item6,
  .main__article-aside .main__aside-item7 {
    margin-top: 60px; }
  /* line 399, main.scss */
  .main__article-aside .main__article-right-instagram {
    display: grid;
    grid-template-columns: repeat(2, 139px);
    grid-template-rows: repeat(3, 139px);
    margin-top: 20px; }
  /* line 406, main.scss */
  .main__article-aside .main__aside-instagram-button {
    position: relative;
    width: 270PX;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    background-color: #232323;
    color: #fff;
    cursor: pointer; }
    /* line 418, main.scss */
    .main__article-aside .main__aside-instagram-button:hover {
      background-color: #5C5C5C; }
    /* line 422, main.scss */
    .main__article-aside .main__aside-instagram-button:focus {
      border: 2px dashed rgba(255, 255, 255, 0.5); }
    /* line 426, main.scss */
    .main__article-aside .main__aside-instagram-button:active {
      background: #0E0E0E; }
  /* line 431, main.scss */
  .main__article-aside .icon-instagrem {
    position: relative;
    right: 2px;
    top: 3px;
    width: 16px;
    height: 16px;
    color: #fff; }
  /* line 442, main.scss */
  .main__article-aside .main__tags-text span {
    position: relative;
    top: 20px;
    padding: 7px 11px 5px 11px;
    margin: 3px;
    line-height: 35px;
    background-color: #ebebeb;
    border-radius: 3px;
    width: 270px; }
    /* line 452, main.scss */
    .main__article-aside .main__tags-text span:active {
      text-decoration: underline; }
    /* line 456, main.scss */
    .main__article-aside .main__tags-text span:hover {
      text-decoration: underline; }
  /* line 461, main.scss */
  .main__article-aside .main__aside-email-text {
    position: relative;
    top: 11px;
    line-height: 24px;
    font-size: 14px;
    color: #666; }
  /* line 471, main.scss */
  .main__article-aside #your-text {
    position: relative;
    top: 20px;
    width: 270px;
    height: 50px;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #e5e5e5; }
    /* line 481, main.scss */
    .main__article-aside #your-text:hover {
      background: #F4F6FA;
      border: 1px solid #E5E5E5;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 3px; }
    /* line 488, main.scss */
    .main__article-aside #your-text:focus {
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 3px; }
  /* line 496, main.scss */
  .main__article-aside .main__aside-submit {
    position: relative;
    margin-top: 30px;
    width: 270px;
    height: 50px;
    background-color: #232323;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold; }
    /* line 507, main.scss */
    .main__article-aside .main__aside-submit:hover {
      background-color: #5C5C5C; }
    /* line 511, main.scss */
    .main__article-aside .main__aside-submit:focus {
      border: 2px dashed rgba(255, 255, 255, 0.5); }
    /* line 515, main.scss */
    .main__article-aside .main__aside-submit:active {
      background: #0E0E0E; }

/* line 522, main.scss */
.main__div-list {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 529, main.scss */
  .main__div-list .main__div-list-item {
    margin: 0px 5px 0 5px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 3px;
    border: 1px solid #e5e5e5; }
    /* line 538, main.scss */
    .main__div-list .main__div-list-item:hover {
      background-color: #EFEFEF; }
    /* line 542, main.scss */
    .main__div-list .main__div-list-item:active {
      background-color: #000; }
      /* line 545, main.scss */
      .main__div-list .main__div-list-item:active a {
        color: #fff; }
    /* line 550, main.scss */
    .main__div-list .main__div-list-item a {
      font-size: 16px;
      color: #171717;
      line-height: 40px; }

@media all and (max-width: 1024px) {
  /* line 563, main.scss */
  .main__article-box1 {
    top: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(3, 265px);
    grid-template-areas: "item1 item2" "item1 item3" "item4 item5";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 30px; }

  /* line 577, main.scss */
  .main-article-box2 {
    display: grid;
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(11, 240px);
    grid-template-areas: "item6 item6" "item6 item6" "item7 item7" "item7 item7" "item8 item8" "item8 item8" "item9 item9" "item9 item9" "item10 item10" "item10 item10" "item11 item11" "main__article-aside main__article-aside" "main__article-aside main__article-aside";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 75px; }

  /* line 600, main.scss */
  .main__article-aside {
    position: relative;
    bottom: 200px;
    margin: 0;
    height: 1470px;
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(5, 240px);
    grid-template-areas: "aside1 aside2" "aside3 aside4" "aside5 aside6" "aside5 aside6" "aside7 .";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 70px;
    grid-column-gap: 67px; }
    /* line 619, main.scss */
    .main__article-aside .main__aside-block h4 {
      position: relative;
      bottom: 10px; }
    /* line 624, main.scss */
    .main__article-aside .main__aside-block p {
      position: relative;
      bottom: 10px; }
    /* line 631, main.scss */
    .main__article-aside .main__aside-item1 {
      grid-area: aside1;
      width: 270px; }
    /* line 636, main.scss */
    .main__article-aside .main__aside-item2 {
      grid-area: aside2;
      position: relative;
      top: 23px;
      width: 270px; }
    /* line 643, main.scss */
    .main__article-aside .main__aside-item3 {
      grid-area: aside3;
      position: relative;
      top: 43px;
      width: 270px; }
    /* line 650, main.scss */
    .main__article-aside .main__aside-item4 {
      grid-area: aside4;
      position: relative;
      top: 43px;
      width: 270px; }
    /* line 657, main.scss */
    .main__article-aside .main__aside-item5 {
      grid-area: aside5;
      position: relative;
      top: 48px;
      width: 270px; }
    /* line 664, main.scss */
    .main__article-aside .main__aside-item6 {
      grid-area: aside6;
      position: relative;
      top: 48px;
      width: 270px; }
    /* line 671, main.scss */
    .main__article-aside .main__aside-item7 {
      grid-area: aside7;
      width: 270px;
      position: relative;
      bottom: 25px; } }
@media all and (max-width: 768px) {
  /* line 682, main.scss */
  .main__article-box1 {
    top: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 370px);
    grid-template-rows: repeat(6, 265px);
    grid-template-areas: "item1" "item1" "item2" "item3" "item4" "item5";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 30px; }

  /* line 699, main.scss */
  .main-article-box2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 370px);
    grid-template-rows: repeat(19, 250px);
    grid-template-areas: "item6" "item6" "item7" "item7" "item8" "item8" "item9" "item9" "item10" "item10" "item11" "main__article-aside" "main__article-aside";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 725, main.scss */
    .main-article-box2 .main__section-item6 img,
    .main-article-box2 .main__section-item7 img,
    .main-article-box2 .main__section-item8 img,
    .main-article-box2 .main__section-item9 img,
    .main-article-box2 .main__section-item10 img {
      height: 400px;
      width: 370px;
      -o-object-fit: cover;
         object-fit: cover; }
    /* line 732, main.scss */
    .main-article-box2 .main__section-block2 {
      height: 300px;
      width: 95%;
      right: 10px;
      margin-top: 50px; }
      /* line 738, main.scss */
      .main-article-box2 .main__section-block2 h3 {
        font-size: 18px; }
      /* line 742, main.scss */
      .main-article-box2 .main__section-block2 p {
        font-size: 14px; }

  /* line 748, main.scss */
  .main__article-aside {
    position: relative;
    left: 50px;
    bottom: 200px;
    display: grid;
    grid-template-columns: repeat(1, 370px);
    grid-template-rows: repeat(7, 240px);
    grid-template-areas: "aside1" "aside2" "aside3" "aside4" "aside5" "aside5" "aside6" "aside6" "aside7";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 768, main.scss */
    .main__article-aside .main__aside-item1 .main__aside-text {
      position: relative;
      right: 35px; }

  /* line 775, main.scss */
  .main__aside-item1 {
    width: 270px; }

  /* line 779, main.scss */
  .main__aside-item2 {
    width: 270px;
    padding-top: 20px; }

  /* line 784, main.scss */
  .main__aside-item3 {
    width: 270px;
    padding-top: 20px; }

  /* line 789, main.scss */
  .main__aside-item4 {
    width: 270px;
    padding-top: 40px; }

  /* line 794, main.scss */
  .main__aside-item5 {
    width: 270px;
    padding-top: 65px; }

  /* line 799, main.scss */
  .main__aside-item7 {
    position: relative;
    width: 270px;
    bottom: 25px; } }
