
*{  outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    
    img{
        border-radius: 5px;
    }
    a{
       
    text-decoration: none;
    color: #fff;
    }
}

.footer {
    width: 100%;
    height: 594px;
    background-color:#171717;
}

.footer__article {
    width: 100%;
    height: 500px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(1, 265px);
    grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3";
    grid-row-gap: 115px;
    justify-content: center;
    grid-gap: 30px;
    background-color: #171717;

    .footer__nav-logo {
        padding: 0px 6px 0px 5px;
        border-radius: 3px;
        background-color: #4a90e2;
    }


    .footer__section-item1 {
        grid-area: item1;
    }
    
    .footer__section-item2 {
        grid-area: item2;
    }
    
    .footer__section-item3 {
        grid-area: item3;
    }

    .footer__item1-box {
        color: #fff;
        margin-top: 62px ;
    }

    .footer__prem {
        margin-top: 25px ;
        width: 300px;
        line-height: 30px;
        font-size: 14px ;
    }

}

.footer__keep {
    margin-top: 64px;
    color: #fff;
    font-size: 20px;
}

.footer__list {
    display: flex;
    list-style-type: none;
    
    img {
        margin-top:5px ;
    }    
}

.footer__list-item {
    position: relative;
    right: 10px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    background-color: #373737;
    width: 34px ;
    height: 34px;

    &:hover {
        background-color: #777777;   
    }

    &:active {
        background-color: #000; 
    }
}

.footer__item2-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 62px;
    position: relative;
    top: 100px ;
    height: 389px;
}

.footer__car3,
.footer__car2,
.footer__car1 {
 
    p {
        position: relative;
        left: 120px;
        bottom: 80px;
        color: #CECECE;
        font-size: 14px;
        line-height: 14px;
        font-style: italic;
    }

    h3 {
        position: relative;
        left: 120px;
        bottom: 95px;
        width: 178px;
        font-weight: bold;
        font-size: 15px;
        line-height: 26px;
        color: #fff;
    }
}

.footer__car1 {

    &:active h3 {
        text-decoration: underline;
    }

    &:hover h3 {
        text-decoration: underline;
        }
}

.footer__car2 {
    position: relative;
    bottom: 70px;

    &:active h3 {
        text-decoration: underline;
    }

    &:hover h3 {
        text-decoration: underline;
    }
}

.footer__car3 {
    position: relative;
    bottom: 140px;
    
    &:active h3 {
        text-decoration: underline;
    }

    &:hover h3 {
        text-decoration: underline;
    }
}

.footer_recent-post {
    font-size: 20px;
    color: #fff;
}

.footer__item2-box img {
    width: 95px;
    height: 95px;
    margin-top: 25px;
}

.main__aside-your1 {
    margin-top: 10px;    
}

#your-text1 {
    border-radius: 3px ;
    border: 1px solid;
    margin-top: 10px;
    padding-left: 20px;
    width: 270px;
    height: 50px;
    background-color: #373737;
    &:hover {
        background: #6C6C6C;
    }
    
    &:focus {
        background: #5A5A5A;
    }
}

.main__aside-submit {
    width: 270px;
    height: 50px;
    background-color: #232323;
    border: none;
    border-radius: 3px;
    color: #fff;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    &:hover {
        background-color: #5C5C5C; 
      }
    
    &:focus {
        border: 2px dashed rgba(255, 255, 255, 0.5);
    }  
    
    &:active {
        background: #0E0E0E;
    }
}

.footer__nav-list { 
    background-color: #000;
    margin: 0;
    padding: 0;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 90px;
    grid-template-areas:
    "nav1 . nav2 ";
    justify-content: center;
    grid-gap: 30px;
    list-style-type: none;
    cursor: pointer; 

    .footer__nav-item1 {
        grid-area:nav1;
        color: #fff;
    }
    
    .footer__nav-item2 {
        grid-area:nav2;
    }
    
    .footer__nav-menu {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    
    .footer__menu-item a {
        color: #fff;
        text-decoration: none;
        padding: 0 3px 0 3px;
    }
    
    a:focus {
        padding: 0 3px 0 3px;
        background: rgba(255, 255, 255, 0.8);
        color: #000;
    }
    
    a:hover {
        padding: 0 3px 0 3px;
        border-bottom: 2px solid #fff;
        color: #fff;
        background-color: #000;
    }

    a:active {
        color: #fff;
        border-bottom: 2px solid #fff;
        font-weight: bold;
        background-color: #000;
    }
}



@media all and (max-width: 1024px) {

    .footer{
        height:889px;
    }

    .footer__nav-list { 
        position: relative;
        top: 300px;
        background-color: #000;
        margin: 0;
        padding: 0;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 370px);
        grid-template-rows: 90px;
        grid-template-areas:
        "nav1 nav2";
        justify-content: center;
        grid-gap: 30px;
        list-style-type: none;
        cursor: pointer;
    }

    .footer__article {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(1, 265px);
        grid-template-areas:
        "item1 item2"
        "item1 item2"
        "item3 item3";
        justify-content: center;
        grid-column-gap: 67px;
        margin: 0;
    }

    .footer__section-item3 {
        position: relative;
        bottom: 38px;
    }

    #your-text1 {
        border-radius: 3px ;
        border: 1px solid;
        margin-top: 10px;
        padding-left: 20px;
        width: 585px;
        height: 50px;
    }

    .main__aside-submit {
        width: 585px;
        height: 50px;
        background-color: #232323;
        border: none;
        border-radius: 3px;
        color: #fff;
        position: relative;
        margin-top: 10px;
        font-weight: bold;
    }

}


@media all and (max-width: 768px) {

    .footer{
        height:1171px;
    }

    .footer__nav-list { 
        position: relative;
        top: 530px;
        background-color: #000;
        margin: 0;
        padding: 0;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 370px);
        grid-template-rows: 90px;
        grid-template-areas:
        "nav2"
        "nav1";
        justify-content: center;
        list-style-type: none;
        cursor: pointer;
    }

    .footer__nav-item1 {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 24px;
    }

    .footer__article {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(1, 260px);
        grid-template-areas:
        "item1"
        "item2"
        "item2"
        "item3";
        justify-content: center;
        grid-column-gap: 67px;
        margin: 0;
    }

    #your-text1 {
        border-radius: 3px ;
        border: 1px solid;
        margin-top: 10px;
        padding-left: 20px;
        width: 270px;
        height: 50px;
        background-color: #373737;
    }

    .main__aside-submit {
        width: 270px;
        height: 50px;
        background-color: #232323;
        border: none;
        border-radius: 3px;
        color: #fff;
        position: relative;
        margin-top: 10px;
        font-weight: bold;
    }

    .footer__keep,
    .footer__list {
        position: relative;
        bottom: 30px;
    }

    .footer__section-item3 {
        position: relative;
        bottom: 60px;
    }

}



